.container{
  margin-top: 2rem ;
}
.home-header{
  font-size :xx-large;
  font-weight: 800;
}
.home-content{
  font-size:medium;
  font-weight: 500;
}
.nav-links{
  display: flex;
  justify-content: space-around;
}
.nav-link{
  color: rgb(248, 247, 247);
  font-size: large;
  text-decoration: none;
  margin: 0rem 1rem;
}
.link{
  text-decoration: none;
}
.nav-link:hover{
  color:rgb(248, 247, 247);  
}
.error{
  color: rgb(221, 0, 0);
}
.centre-button{
  display: flex;
  justify-content: center;
}
.text{
  margin-right: 0.5rem;
}